

body {
    display: block;
    width: 800px;
    margin-left: 25px;
}

header {
    display: block;
}

h1 {
    font-size: 3em;
    font-weight: 600;
}

h3 {
    text-align: center;
}

ul {
    display: inline-block;
}
li {
    display: block;
    
    
}
.contacts {
    list-style: none;
    display: inline-block;
}
h2 {
    background-color: #f3f3f3;
}

a {
    text-decoration: none;
    color: black;
}

#contacts {
    margin-left: 1.5em;
    padding: 2em 0em;
}

#contacts li {
    position: relative;
    display: inline-block;
    width: 49%;
    padding: 0.3em 0em;
}

#contacts .fa {
    position: absolute;
    left: -1.5em;
}

section {
    display: block;
}
.skill-cell {
    display: inline-block;
    vertical-align: top;
    margin-right: 30px;
}