

body {
    display: block;
    width: 800px;
    margin-left: 25px;
    
}

header {
    display: block;
}

h1 {
    font-size: 3em;
    font-weight: 600;
}

h3 {
    text-align: center;
}

ul {
    display: inline-block;
}
li {
    display: block;
    
    
}
.contacts {
    list-style: none;
    display: inline-block;
}
h2 {
    background-color: #f3f3f3;
}

a {
    text-decoration: none;
    color: black;
}

#contacts {
    margin-left: 1.5em;
}

#contacts li {
    position: relative;
    display: inline-block;
    width: 49%;
    padding: 0.3em 0em;
}

#contacts .fa {
    position: absolute;
    left: -1.5em;
}

section {
    display: block;
}

.block tr > td:first-child {
    width: 9em;
}

.block td h4 {
    vertical-align: top;
    
}

.block p, .block ul {
    width: 80%;
    margin-bottom: 1em;
}

.skill-cell {
    display: inline-block;
    vertical-align: top;
    margin-right: 30px;
}

#experience h3, #experience h4 {
    display: inline;
}
#education h4 {
    font-weight: normal;
}

.list ul {
    padding-bottom: 0.6em;
}

.list ul, .description p {
    margin-left: 3em;
}
